rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow full read and write access across all collections for all admin and customer CRUD operations
    match /{document=**} {
      allow read, write: if true;
    }
  }
}


